{% extends 'inc/nav.html' %}

{% block content %}
<p> A footer is an additional navigation component. It can hold links, buttons, company info, copyrights, forms, and many other elements
    A footer is an additional navigation component. It can hold links, buttons, company info, copyrights, forms, and many other elements
    A footer is an additional navigation component. It can hold links, buttons, company info, copyrights, forms, and many other elements
    A footer is an additional navigation component. It can hold links, buttons, company info, copyrights, forms, and many other elements
</p>


{% endblock content %}